<div class="container p-4">
    <div class="row" >
        {{#each productos}}
                <div class="col-md-3 m-2">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="card-title">
                                {{nombre}}
                            </h3>
                            <hr>
                            <p class="text-left">Precio: {{precio}}</p>
                            <p class="text-left">Stock: {{stock}}</p>
                            <a href="/productos/delete/{{idproductos}}" class="btn btn-danger mb-1">Delete</a>
                            <a href="/productos/edit/{{idproductos}}" class="btn btn-outline-info">Edit</a>
                        </div>
                    </div>
                </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay productos</p>
                <a href="/productos/add">Agraga uno</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>