<div class="container p-4">
    <div class="row" >
        {{#each servicios_piscina}}
                <div class="col-md-3 m-2">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="card-title">
                                {{nombre}}
                            </h3>
                            <hr>
                            <p class="text-left">Precio: ${{precio}} por m³</p>
                            <p class="text-left">{{descripcion}}</p>
                            <a href="/servicios/piscina/contratar/{{idServicio_piscina}}" class="btn btn-success btn-block mb-1">Contratar</a>
                        </div>
                    </div>
                </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay servicios disponibles</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>